nav,
footer {
  padding: 1rem 0;
  font-size: var(--small);
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

footer ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
