:root {
  --f-family: 'Bitter', system-ui, serif;
  --ui-f-family: 'Cabin', system-ui, serif;
  --titles-f-family: "Signika Negative", sans-serif, system-ui;
  --h1: 3.3rem;
  --h2: 1.3195rem;
  --h3: 1.1487rem;
  --small: 0.6706rem;
  --gap: 1rem;
}

@media (min-width: 576px) {
  :root {
    --gap: 2rem;
  }
}

@media (min-width: 992px) {
  :root {
    --gap: 2rem;
  }
}
